<section class="container matchmaker d-flex align-items-center">
  <h3 data-i18n="nav-matchmaker"></h3>
  <form id="matchmakerForm">
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>

    <div style="overflow: auto">
      <div style="float: right">
        <button id="prevBtn" onclick="nextPrev(-1)" type="button" class="d-none" >Previous</button>
        <button id="nextBtn" onclick="nextPrev(1)" type="button" >Next</button>
        <button id="submitBtn" onclick="nextPrev(1), onSubmit()" type="button"  class="d-none">Submit</button>
        <button id="restartBtn" onclick="resetForm()" type="button"  class="d-none">Újra</button>
      </div>
    </div>
    <div id="matchmakerResult" class="d-none">
      <div id="result"> 
        <h1><span>Top 3</span><span data-i18n="matches-for-you"></span></h1>
      </div>
    </div>

    <div style="text-align: center; margin-top: 40px">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>
</section>
<script src="/src/view/components/matchmaker/controller.js"></script>
<script src="/src/view/components/matchmaker/form.js"></script>
