<section class="container matchmaker d-flex align-items-center">
  <h3 data-i18n="nav-matchmaker"></h3>
  <form id="matchmakerForm">
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>
    <div class="tab">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="10" value="5" class="slider" />
    </div>

    <div style="overflow: auto">
      <div style="float: right">
        <button type="button" id="prevBtn">Previous</button>
        <button type="button" id="nextBtn">Next</button>
      </div>
    </div>
    <div id="matchmakerResult" class="d-none">
      <button id="restartBtn">Újrakezdés</button>
    </div>
    <div style="text-align: center; margin-top: 40px">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>
</section>
