<section class="container matchmaker pt-5 my-5">
  <form id="matchmakerForm" class="pt-5 my-5 px-3">
    <div id="questions">

    <!-- Question 1 -->
    <div class="tab d-none">
      <h2>Milyen típusú otthonod van?</h2>
      <div class="selectableOptions d-flex justify-content-center">
        <label for="home1">
          <input required id="home1" class="singleOptions" type="radio" name="home_type" value="home1" />
          <img class="d-block" src="/assets/img/form/home1.png" alt="house without yard" />
        </label>

        <label for="home2">
          <input required id="home2" class="singleOptions" type="radio" name="home_type" value="home2" />
          <img class="d-block" src="/assets/img/form/home2.png" alt="house with yard" />
        </label>

        <label for="home3">
          <input required id="home3" class="singleOptions" type="radio" name="home_type" value="home3" />
          <img class="d-block" src="/assets/img/form/home3.png" alt="flat" />
        </label>
      </div>
    </div>

    <!-- Question 2 -->
    <div class="tab d-none">
      <h2>Hányan éltek együtt?</h2>
      <div class="selectableOptions d-flex justify-content-center">
        <label for="one">
          <input required id="one" class="singleOptions" type="radio" name="housemates" value="1" />
          <img class="d-block" src="/assets/img/form/one.png" alt="one person" />
        </label>
        <label for="two">
          <input required id="two" class="singleOptions" type="radio" name="housemates" value="2" />
          <img class="d-block" src="/assets/img/form/two.png" alt="two people" />
        </label>
        <label for="three">
          <input required id="three" class="singleOptions" type="radio" name="housemates" value="3" />
          <img class="d-block" src="/assets/img/form/three.png" alt="three people" />
        </label>
        <label for="four">
          <input required id="four" class="singleOptions" type="radio" name="housemates" value="4" />
          <img class="d-block" src="/assets/img/form/four.png" alt="four people" />
        </label>
      </div>
    </div>

    <!-- Question 3 -->
    <div class="tab d-none">
      <h2>Mennyire keresed mások társaságát?</h2>
      <div class="range-group d-flex flex-column">
        <div class="d-flex justify-content-around">
          <img class="img-left range-img" src="/assets/img/form/alone.png" />
          <img class="img-right range-img" src="/assets/img/form/company.png" />
        </div>
        <div class="w-50 m-auto mt-4">
          <input required type="range" class="form-range sliderMM" min="0" max="10" value="5" />
        </div>
      </div>
    </div>

    <!-- Question 4 -->
    <div class="tab d-none">
      <h2>Melyik jellemző inkább rád?</h2>
      <div class="range-group d-flex flex-column">
        <div class="d-flex justify-content-around">
          <img class="img-left range-img" src="/assets/img/form/calm.png" />
          <img class="img-right range-img" src="/assets/img/form/playful.png" />
        </div>
        <div class="w-50 m-auto mt-4">
          <input required type="range" class="form-range sliderMM" min="0" max="10" value="5" />
        </div>
      </div>
    </div>

    <!-- Question 5 -->
    <div class="tab d-none">
      <h2>Van jelenleg háziállatod?</h2>
      <div class="selectableOptions d-flex justify-content-center">
        <label for="noPet">
          <input required id="noPet" class="singleOptions" type="radio" name="pet" value="none" />
          <img class="d-block" src="/assets/img/form/no.png" alt="no pet" />
        </label>
        <label for="cat">
          <input required id="cat" class="singleOptions" type="radio" name="pet" value="cat" />
          <img class="d-block" src="/assets/img/form/cat.png" alt="cat" />
        </label>
        <label for="dog">
          <input required id="dog" class="singleOptions" type="radio" name="pet" value="dog" />
          <img class="d-block" src="/assets/img/form/dog.png" alt="dog" />
        </label>
      </div>
    </div>
		
	</div>

    <!-- Result -->
    <div id="matchmakerResult" class="d-none">
      <div id="result">
        <h1><span>Top 3</span><span data-i18n="matches-for-you"></span></h1>
      </div>
    </div>

    <!-- Navigation -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-md-auto mb-2 mb-md-0">
          <button id="prevBtn" onclick="nextPrev(-1)" type="button" class="btn btn-secondary w-100 w-md-auto">
            Previous
          </button>
        </div>

        <div class="col-12 col-md d-flex justify-content-center order-3 order-md-2 mt-2 mt-md-0">
          <div class="d-flex justify-content-center step-wrapper flex-grow-1">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </div>
        </div>

        <div class="col-6 col-md-auto mb-2 mb-md-0 text-end order-2 order-md-3">
          <div class="d-flex gap-2 w-100 w-md-auto justify-content-end">
            <button id="nextBtn" onclick="nextPrev(1)" type="button" class="btn btn-primary w-100 w-md-auto">
              Next
            </button>
            <button id="submitBtn" onclick="submitForm()" type="button"
              class="d-none btn btn-primary w-100 w-md-auto">
              Submit
            </button>
            <button id="restartBtn" onclick="resetForm()" type="button" class="d-none btn btn-primary w-100 w-md-auto">
              Újra
            </button>
          </div>
        </div>
      </div>
    </div>
    
  </form>
</section>

<script src="/src/view/components/matchmaker/controller.js"></script>
<script src="/src/view/components/matchmaker/form.js"></script>
