<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bring Me Home - Oops</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    button img {
      width: 32px;
    }
  </style>
</head>

<body>
  <div class="container d-flex flex-column align-items-center vh-100 justify-content-center">
    <div class="row w-100 align-items-center">
      <!-- 1. gap -->
      <div class="col-12 col-md-3"></div>

      <!-- 2. text  -->
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
        <h4 class="mb-4">Cat-astrophe! Nothing to see here.</h4>
        <div class="bg-warning rounded p-4" data-i18n="websiteInProgress">
          This page is still under construction. Until it’s ready, let’s take
          you back to the home page.
        </div>
      </div>

      <!-- Cat -->
      <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-start mt-5">
        <img src="../../../assets/img/sadCat.png" alt="sad drawing of a cat" class="img-fluid w-50 w-md-auto" />
      </div>
    </div>
    <!-- btn  -->
    <div class="row d-flex gap-5">
      <button class="btn btn-secondary mt-4 d-flex align-items-center" onclick="window.location.href='/index.html'">
        <img src="../../../assets/img/icons/home.png" alt="" class="me-2" />
        Back to Homepage
      </button>
    </div>
  </div>
</body>

</html>