<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Örökbefogadható cicák listája" />
  <meta name="keywords" content="állatmenhely, örökbefogadás, cica, macska, állatmentés, ..." />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../../../assets/css/main.css" />
  <link rel="stylesheet" href="../../../assets/css/pages/privacy.css" />
  <link rel="icon" href="../../../assets/img/icons/favicon-16.ico" type="image/x-icon" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <script type="module" src="../../../src/main.js"></script>
  <title data-i18n="catsPage.title">BringMeHome - <span data-i18n="footer.privacy"></span></title>
</head>

<body>
  <main id="singlePage" class="noFooter container">
    <section id="privacy">
      <h2 data-i18n="privacy.title"></h2>
      <p>
        <strong data-i18n="privacy.updatedLabel"></strong>
        <span data-i18n="privacy.updatedDate"></span>
      </p>

      <section>
        <h4 data-i18n="privacy.introTitle"></h4>
        <p data-i18n="privacy.introText"></p>
      </section>

      <section>
        <h4 data-i18n="privacy.whatDataTitle"></h4>
        <p data-i18n="privacy.whatDataText"></p>
      </section>

      <section>
        <h4 data-i18n="privacy.thirdPartiesTitle"></h4>
        <p data-i18n="privacy.thirdPartiesText"></p>
      </section>

      <section>
        <h4 data-i18n="privacy.securityTitle"></h4>
        <p data-i18n="privacy.securityText"></p>
      </section>
      <p><a href="/index.html" data-i18n="back"></a></p>
    </section>
  </main>
</body>

</html>