.container {
  padding-top: 5rem;
}

header.mb-5 {
  margin-top: 3rem;
}

section {
  height: min-content !important;
  min-height: unset !important;
  padding-top: unset !important;
}

.cat-details {
  list-style: none;
  padding-left: 0;
}

.cat-details li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.cat-details li:before {
  font-weight: 700;
  color: #495057;
  content: attr(data-i18n-prefix);
  margin-right: 0.3rem;
}

.cat-details li {
  font-weight: 400;
}
.cat-details li[data-i18n-prefix]::before {
  content: attr(data-i18n-prefix);
  font-weight: bold;
  margin-right: 5px;
}
