#faqAccordion {
    width: 80%;
    margin: auto;
}

#faqAccordion .accordion-button {
    background-color: var(--color-shadow-lightest);
    color: var(--color-green-light);
}

#faqAccordion .accordion-button:not(.collapsed) {
    background-color: var(--color-green-lightest);
    color: var(--color-green);
}

#faqAccordion .accordion-item {
    border-color: var(--color-shadow);
}

#faqAccordion .accordion-button:focus {
    border-color: var(--color-bt-lightest);
    box-shadow: 0 0 0 .25rem var(--color-primary-light);
    outline: 0;
}

.accordion-body{
    color: var(--color-primary);
}

.rule-title{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
    margin:3rem auto;
    text-align:center;
    font:700 2rem/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial;
    color: var(--color-green-light);
}

.rule-title::before,
.rule-title::after{
    content:"";
    flex:1 1 120px;
    border-top:2px solid currentColor;
    opacity:.6;
    color: var(--color-green-lightest);
}

.rule-title > span{
    white-space:nowrap;
}