/*https://getbootstrap.com/docs/5.3/components/accordion/#variables*/
#faqAccordion {
    --bs-accordion-active-bg: #a8cda4;
    --bs-accordion-active-color: #467242;

    --bs-accordion-btn-bg: #f8f9fa;
    --bs-accordion-btn-color: #467242;
    --bs-accordion-border-color: #2E4D2C;

    --bs-accordion-btn-focus-border-color: #2E4D2C;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 .25rem rgba(46,77,44,.25);
    width: 80%;
    margin: auto;
}

[data-bs-theme="dark"] #faqAccordion{
    --bs-accordion-active-bg: #1b2838;
    --bs-accordion-active-color: #cfe2ff;
}

.accordion-body{
    color: #467242;
}

.rule-title{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
    margin:3rem auto;
    text-align:center;
    font:700 2rem/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial;
    color:#467242;
}

.rule-title::before,
.rule-title::after{
    content:"";
    flex:1 1 120px;
    border-top:2px solid currentColor;
    opacity:.6;
    color: #a8cda4;
}

.rule-title > span{
    white-space:nowrap;
}