.stories .carousel-control-prev,
.stories .carousel-control-next {
    width: 20px; 
 
    opacity: 0.2; 
   
   
}

.stories .carousel-control-prev:hover,
.stories .carousel-control-next:hover {
    opacity: 1;
}

.stories .carousel-control-prev-icon,
.stories .carousel-control-next-icon {
    filter: invert(100%); 
}

