@import "/assets/css/main.css";



.story-card { 
    width: 100%;
}


.carousel-control-prev,
.carousel-control-next {
    width: 20px; 
    height: 50%; 
    opacity: 0.2; 
   
    top: 50%; 
    transform: translateY(-50%); 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); 
}

