/* A Fogadj örökbe szekció */
.adopt-section {
    padding: 50px 0;
    text-align: center;
}

.adopt-content {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.adopt-text {
    flex: 1;
}

.adopt-text p {
    font-size: 1.1em;
    line-height: 1.8;
    color: var(--text-color);
}

.adopt-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

/* "Tovább a cicákhoz" gomb  */
.button-wrapper {
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}