<section class="about container">
  <h2 class="pb-5" data-i18n="about.title"></h2>

  <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-stretch">
    <div class="d-flex flex-column me-lg-5 flex-1 text-center text-lg-start aboutTexts">
      <p class="flex-grow-1" data-i18n="about.text1"></p>
      <p class="flex-grow-1" data-i18n="about.text2"></p>
      <p class="flex-grow-1" data-i18n="about.text3"></p>
      <div class="mt-4 mb-5 m-lg-0">
        <button class="btn btn-primary float-sm-end" data-i18n="btn.support-us"
          onclick="window.location.href='/src/view/pages/inProgress.html'"></button>
      </div>
    </div>
    <div class="d-flex">
      <img id="ourTeamImage" src="../../assets/img/people/team/team.jpg" alt="our team" />
    </div>
  </div>

  <h3 class="pt-5 pb-5" data-i18n="about.comments.title"></h3>
  <div class="card-track">
    <div class="card-track-inner d-flex">
      <div class="card d-flex flex-row align-items-center">
        <img src="../../assets/img/people/partners/anna.jpg" class="circle" alt="Anna" />
        <div class="card-body">
          <h5 class="card-title">Anna</h5>
          <p class="card-text" data-i18n="about.comments.pov1"></p>
        </div>
      </div>

      <div class="card d-flex flex-row align-items-center">
        <img src="../../assets/img/people/partners/antonio.jpg" class="circle" alt="Antonio" />
        <div class="card-body">
          <h5 class="card-title">Antonio</h5>
          <p class="card-text" data-i18n="about.comments.pov2"></p>
        </div>
      </div>

      <div class="card d-flex flex-row align-items-center">
        <img src="../../assets/img/people/partners/victoria.jpg" class="circle" alt="Victoria" />
        <div class="card-body">
          <h5 class="card-title">Victoria</h5>
          <p class="card-text" data-i18n="about.comments.pov3"></p>
        </div>
      </div>

      <!-- duplicate for seamless loop -->
      <div class="card d-flex flex-row align-items-center">
        <img src="../../assets/img/people/partners/anna.jpg" class="circle" alt="Anna" />
        <div class="card-body">
          <h5 class="card-title">Anna</h5>
          <p class="card-text" data-i18n="about.comments.pov1"></p>
        </div>
      </div>
      <div class="card d-flex flex-row align-items-center">
        <img src="../../assets/img/people/partners/antonio.jpg" class="circle" alt="Antonio" />
        <div class="card-body">
          <h5 class="card-title">Antonio</h5>
          <p class="card-text" data-i18n="about.comments.pov2"></p>
        </div>
      </div>
      <div class="card d-flex flex-row align-items-center">
        <img src="../../assets/img/people/partners/victoria.jpg" class="circle" alt="Victoria" />
        <div class="card-body">
          <h5 class="card-title">Victoria</h5>
          <p class="card-text" data-i18n="about.comments.pov3"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <button class="btn btn-secondary float-end" data-i18n="btn.join-us"
      onclick="window.location.href='/src/view/pages/inProgress.html'"></button>
  </div>
</section>