<section class="adopt">
  <h2 data-i18n="adopt"></h2>
  <!-- TODO: implement this section -->
            <h2>Fogadj örökbe</h2>
            <div class="card-container">
                <div class="cat-card">
                    <div class="cat-card">
                <img src="/public/assets/img/cica1.jpg" alt="A cica képe">
            </div>
            <div class="cat-card">
                <img src="/public/assets/img/cica2.jpg" alt="A cica képe">
            </div>
            <div class="cat-card">
                <img src="/public/assets/img/cica3.jpg" alt="A cica képe">
            </div>
            <div class="cat-card">
                <img src="/public/assets/img/cica4.jpg" alt="A cica képe">
            </div>
        </div>

        <div class="adopt-me-text">
            <p>
                Ezek a cicák különleges történetekkel érkeztek hozzánk: van, aki félénk kezes, van, aki igazi bohóc — de mindannyian készen állnak szerető otthonra. Az örökbefogadás nálunk felelősségvállalás is: segítünk az ismerkedésben, állatorvosi papírokban és tanácsokkal az első napokra.
            </p>
        </div>
    </div>
            <div class="button-wrapper">
                <a href="adopt.html" class="button">
                    Tovább a cicákhoz 
                </a>
            </div> 
</section>
