<section class="adopters">
  <div class="container">
    <h2 data-i18n="adopters.title" class="mb-4"></h2>

    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <img src="../../assets/img/adopters/adopter1.jpg" class="img-fluid rounded shadow d-block me-auto"
          style="max-width: 400px" alt="Az örökbefogadó család" />
      </div>

      <div class="col-md-6">
        <h3 class="mt-4 mt-md-0" data-i18n="adopters.story1.title"></h3>
        <p data-i18n="adopters.story1.text"></p>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 order-md-2 text-md-end">
        <img src="../../assets/img/adopters/adopter2.jpg" class="img-fluid rounded shadow d-block ms-auto"
          style="max-width: 400px" alt="Az örökbefogadó család" />
      </div>

      <div class="col-md-6 order-md-1">
        <h3 class="mt-4 mt-md-0" data-i18n="adopters.story2.title"></h3>
        <p data-i18n="adopters.story2.text"></p>
      </div>
    </div>

    <div class="text-center mt-5">
      <h4 class="mb-3" data-i18n="adopters.cta-title"></h4>
      <a href="../../src/view/pages/cats.html" class="btn btn-primary btn-lg" data-i18n="adopters.cta-button1"></a>
      <a href="../../src/view/pages/stories.html" class="btn btn-secondary btn-lg" data-i18n="adopters.cta-button2"></a>
    </div>
  </div>
</section>