<section class="adopters">
  <h2 data-i18n="adopters"></h2>
  <!-- TODO: implement this section -->
   <div class="adopters-container">
        <div class="adopter-story story-left">
            <img src="/public/assets/img/adopter1.jpg" alt="Az örökbefogadó">
            <div class="story-content">
                <h3>Egy nagyszerű kaland kezdete</h3>
                <p>
                    A család mindig is egy cicáról álmodott, és amikor meglátták Fluffyt, rögtön tudták, hogy ő a tökéletes választás. A kis macska azonnal belopta magát a szívükbe, és azóta a család minden napja tele van játékkal és nevetéssel. Fluffy igazi otthonra talált, és a család boldogan adta neki a második esélyt.
                </p>
            </div>
        </div>

        <div class="adopter-story story-right">
            <div class="story-content">
                <h3>Egy magányos szív gyógyulása</h3>
                <p>
                    Bella, a nyugodt és csendes cica, egyedül élt egy ideig, amíg rá nem talált az új gazdája, egy idősebb hölgy. Kettejük között azonnal kialakult a kötelék. Bella nyugalmat hozott az otthonba, és a gazdija háláját fejezi ki, amiért meleg otthont adhatott neki.
                </p>
            </div>
            <img src="/public/assets/img/adopter2.jpg" alt="Az örökbefogadó">
        </div>
    </div>
</section>
