<section class="adopt">
    <div class="container">
        <h2 data-i18n="adopt.title">Fogadj örökbe</h2>

        <div class="d-flex overflow-x-auto gap-4 py-4 flex-nowrap">
            <div class="col-md-4 col-lg-3 flex-grow-0 flex-shrink-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card h-100 shadow">
                                <img src="/assets/img/cica1.jpg" class="card-img-top object-fit-cover" alt="A cica képe">
                                <div class="card-body text-center">
                                    <p class="card-text fw-bold" data-i18n="adopt.cat1.name"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong data-i18n="adopt.key-gender"></strong> <span data-i18n="adopt.cat1.gender"></span> <br>
                                    <strong data-i18n="adopt.key-age"></strong> <span data-i18n="adopt.cat1.age"></span> <br>
                                    <strong data-i18n="adopt.key-breed"></strong> <span data-i18n="adopt.cat1.breed"></span> <br>
                                    <strong data-i18n="adopt.key-character"></strong><span data-i18n="adopt.cat1.character"></span><br>
                                    <strong data-i18n="adopt.key-special_features"></strong> <span data-i18n="adopt.cat1.special_features"></span> <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 flex-grow-0 flex-shrink-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card h-100 shadow">
                                <img src="/assets/img/cica2.jpg" class="card-img-top object-fit-cover" alt="A cica képe">
                                <div class="card-body text-center">
                                    <p class="card-text fw-bold" data-i18n="adopt.cat2.name"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong data-i18n="adopt.key-gender"></strong> <span data-i18n="adopt.cat2.gender"></span> <br>
                                    <strong data-i18n="adopt.key-age"></strong> <span data-i18n="adopt.cat2.age"></span> <br>
                                    <strong data-i18n="adopt.key-breed"></strong> <span data-i18n="adopt.cat2.breed"></span> <br>
                                    <strong data-i18n="adopt.key-character"></strong> <span data-i18n="adopt.cat2.character"></span> <br>
                                    <strong data-i18n="adopt.key-special_features"></strong> <span data-i18n="adopt.cat2.special_features"></span> <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 flex-grow-0 flex-shrink-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card h-100 shadow">
                                <img src="/assets/img/cica3.jpg" class="card-img-top object-fit-cover" alt="A cica képe">
                                <div class="card-body text-center">
                                    <p class="card-text fw-bold" data-i18n="adopt.cat3.name"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong data-i18n="adopt.key-gender"></strong> <span data-i18n="adopt.cat3.gender"></span> <br>
                                    <strong data-i18n="adopt.key-age"></strong> <span data-i18n="adopt.cat3.age"></span> <br>
                                    <strong data-i18n="adopt.key-breed"></strong> <span data-i18n="adopt.cat3.breed"></span> <br>
                                    <strong data-i18n="adopt.key-character"></strong> <span data-i18n="adopt.cat3.character"></span> <br>
                                    <strong data-i18n="adopt.key-special_features"></strong> <span data-i18n="adopt.cat3.special_features"></span> <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 flex-grow-0 flex-shrink-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card h-100 shadow">
                                <img src="/assets/img/cica4.jpg" class="card-img-top object-fit-cover" alt="A cica képe">
                                <div class="card-body text-center">
                                    <p class="card-text fw-bold" data-i18n="adopt.cat4.name"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong data-i18n="adopt.key-gender"></strong> <span data-i18n="adopt.cat4.gender"></span> <br>
                                    <strong data-i18n="adopt.key-age"></strong> <span data-i18n="adopt.cat4.age"></span> <br>
                                    <strong data-i18n="adopt.key-breed"></strong> <span data-i18n="adopt.cat4.breed"></span> <br>
                                    <strong data-i18n="adopt.key-character"></strong> <span data-i18n="adopt.cat4.character"></span> <br>
                                    <strong data-i18n="adopt.key-special_features"></strong> <span data-i18n="adopt.cat4.special_features"></span> <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 flex-grow-0 flex-shrink-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card h-100 shadow">
                                <img src="/assets/img/cica5.jpg" class="card-img-top object-fit-cover" alt="A cica képe">
                                <div class="card-body text-center">
                                    <p class="card-text fw-bold" data-i18n="adopt.cat5.name"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong data-i18n="adopt.key-gender"></strong> <span data-i18n="adopt.cat5.gender"></span> <br>
                                    <strong data-i18n="adopt.key-age"></strong> <span data-i18n="adopt.cat5.age"></span> <br>
                                    <strong data-i18n="adopt.key-breed"></strong> <span data-i18n="adopt.cat5.breed"></span> <br>
                                    <strong data-i18n="adopt.key-character"></strong> <span data-i18n="adopt.cat5.character"></span> <br>
                                    <strong data-i18n="adopt.key-special_features"></strong><span data-i18n="adopt.cat5.special_features"></span> <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 flex-grow-0 flex-shrink-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card h-100 shadow">
                                <img src="/assets/img/cica6.jpg" class="card-img-top object-fit-cover" alt="A cica képe">
                                <div class="card-body text-center">
                                    <p class="card-text fw-bold" data-i18n="adopt.cat6.name"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong data-i18n="adopt.key-gender"></strong> <span data-i18n="adopt.cat6.gender"></span> <br>
                                    <strong data-i18n="adopt.key-age"></strong> <span data-i18n="adopt.cat6.age"></span> <br>
                                    <strong data-i18n="adopt.key-breed"></strong> <span data-i18n="adopt.cat6.breed"></span> <br>
                                    <strong data-i18n="adopt.key-character"></strong> <span data-i18n="adopt.cat6.character"></span> <br>
                                    <strong data-i18n="adopt.key-special_features"></strong> <span data-i18n="adopt.cat6.special_features"></span> <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 flex-grow-0 flex-shrink-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card h-100 shadow">
                                <img src="/assets/img/cica7.jpg" class="card-img-top object-fit-cover" alt="A cica képe">
                                <div class="card-body text-center">
                                    <p class="card-text fw-bold" data-i18n="adopt.cat7.name"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong data-i18n="adopt.key-gender"></strong> <span data-i18n="adopt.cat7.gender"></span> <br>
                                    <strong data-i18n="adopt.key-age"></strong> <span data-i18n="adopt.cat7.age"></span> <br>
                                    <strong data-i18n="adopt.key-breed"></strong> <span data-i18n="adopt.cat7.breed"></span> <br>
                                    <strong data-i18n="adopt.key-character"></strong> <span data-i18n="adopt.cat7.character"></span> <br>
                                    <strong data-i18n="adopt.key-special_features"></strong> <span data-i18n="adopt.cat7.special_features"></span> <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 flex-grow-0 flex-shrink-0">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="card h-100 shadow">
                                <img src="/assets/img/cica8.jpg" class="card-img-top object-fit-cover" alt="A cica képe">
                                <div class="card-body text-center">
                                    <p class="card-text fw-bold" data-i18n="adopt.cat8.name"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back d-flex align-items-center justify-content-center text-center">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong data-i18n="adopt.key-gender"></strong> <span data-i18n="adopt.cat8.gender"></span> <br>
                                    <strong data-i18n="adopt.key-age"></strong> <span data-i18n="adopt.cat8.age"></span> <br>
                                    <strong data-i18n="adopt.key-breed"></strong> <span data-i18n="adopt.cat8.breed"></span> <br>
                                    <strong data-i18n="adopt.key-character"></strong> <span data-i18n="adopt.cat8.character"></span> <br>
                                    <strong data-i18n="adopt.key-special_features"></strong> <span data-i18n="adopt.cat8.special_features"></span> <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-5">
            <h4 data-i18n="adopt.section-title"></h4>
            <p data-i18n="adopt.para1"></p>
            <p data-i18n="adopt.para2"></p>
        </div>

        <div class="text-center mt-5">
            <a href="/src/view/pages/cats.html" class="btn btn-primary btn-lg" data-i18n="adopt.cta"></a>
        </div>
    </div>
</section>