<section class="faq">
    <h2 data-i18n="faq"></h2>
    <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq_q_header_one">
                <button data-i18n="faq_q_1" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq_r_one" aria-expanded="false" aria-controls="faq_r_one">                </button>
            </h2>
            <div id="faq_r_one" class="accordion-collapse collapse" aria-labelledby="faq_q_header_one" data-bs-parent="#faqAccordion">
                <div class="accordion-body p-0">
                    <div class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm" data-i18n="faq_a_1"></div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="faq_q_header_two">
                <button data-i18n="faq_q_2" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq_r_two" aria-expanded="false" aria-controls="faq_r_one"></button>
            </h2>
            <div id="faq_r_two" class="accordion-collapse collapse" aria-labelledby="faq_q_header_two" data-bs-parent="#faqAccordion">
                <div class="accordion-body p-0">
                    <div class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm" data-i18n="faq_a_2"></div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="faq_q_header_three">
                <button data-i18n="faq_q_3" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq_r_three" aria-expanded="false" aria-controls="faq_r_one"></button>
            </h2>
            <div id="faq_r_three" class="accordion-collapse collapse" aria-labelledby="faq_q_header_three" data-bs-parent="#faqAccordion">
                <div class="accordion-body p-0">
                    <div class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm" data-i18n="faq_a_3"></div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="faq_q_header_four">
                <button data-i18n="faq_q_4" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq_r_four" aria-expanded="false" aria-controls="faq_r_one"></button>
            </h2>
            <div id="faq_r_four" class="accordion-collapse collapse" aria-labelledby="faq_q_header_four" data-bs-parent="#faqAccordion">
                <div class="accordion-body p-0">
                    <div class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm" data-i18n="faq_a_4"></div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="faq_q_header_five">
                <button data-i18n="faq_q_5" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq_r_five" aria-expanded="false" aria-controls="faq_r_one"></button>
            </h2>
            <div id="faq_r_five" class="accordion-collapse collapse" aria-labelledby="faq_q_header_five" data-bs-parent="#faqAccordion">
                <div class="accordion-body p-0">
                    <div class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm" data-i18n="faq_a_5"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    /*https://getbootstrap.com/docs/5.3/components/accordion/#variables*/
    #faqAccordion {
        --bs-accordion-active-bg: #e6f0ff;
        --bs-accordion-active-color: #0b3d91;

        --bs-accordion-btn-bg: #f8f9fa;
        --bs-accordion-btn-color: #212529;
        --bs-accordion-border-color: #bcd4ff;

        --bs-accordion-btn-focus-border-color: #86b7fe;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    }

    [data-bs-theme="dark"] #faqAccordion{
        --bs-accordion-active-bg: #1b2838;
        --bs-accordion-active-color: #cfe2ff;
    }

    .accordion{
        width: 80%;
        margin: auto;
    }
</style>