<section class="faq container">
  <h2 class="rule-title"><span data-i18n="faq.title"></span></h2>
  <div class="accordion" id="faqAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="faq_q_header_one">
        <button
          data-i18n="faq.questions.0.question"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq_r_one"
          aria-expanded="false"
          aria-controls="faq_r_one"
        ></button>
      </h2>
      <div
        id="faq_r_one"
        class="accordion-collapse collapse"
        aria-labelledby="faq_q_header_one"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body p-0">
          <div
            class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm"
            data-i18n="faq.questions.0.answer"
          ></div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq_q_header_two">
        <button
          data-i18n="faq.questions.1.question"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq_r_two"
          aria-expanded="false"
          aria-controls="faq_r_one"
        ></button>
      </h2>
      <div
        id="faq_r_two"
        class="accordion-collapse collapse"
        aria-labelledby="faq_q_header_two"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body p-0">
          <div
            class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm"
            data-i18n="faq.questions.1.answer"
          ></div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq_q_header_three">
        <button
          data-i18n="faq.questions.2.question"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq_r_three"
          aria-expanded="false"
          aria-controls="faq_r_one"
        ></button>
      </h2>
      <div
        id="faq_r_three"
        class="accordion-collapse collapse"
        aria-labelledby="faq_q_header_three"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body p-0">
          <div
            class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm"
            data-i18n="faq.questions.2.answer"
          ></div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq_q_header_four">
        <button
          data-i18n="faq.questions.3.question"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq_r_four"
          aria-expanded="false"
          aria-controls="faq_r_one"
        ></button>
      </h2>
      <div
        id="faq_r_four"
        class="accordion-collapse collapse"
        aria-labelledby="faq_q_header_four"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body p-0">
          <div
            class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm"
            data-i18n="faq.questions.3.answer"
          ></div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="faq_q_header_five">
        <button
          data-i18n="faq.questions.4.question"
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq_r_five"
          aria-expanded="false"
          aria-controls="faq_r_one"
        ></button>
      </h2>
      <div
        id="faq_r_five"
        class="accordion-collapse collapse"
        aria-labelledby="faq_q_header_five"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body p-0">
          <div
            class="mx-3 my-3 p-3 border rounded-3 bg-body-tertiary shadow-sm"
            data-i18n="faq.questions.4.answer"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
