<section class="homeSeeker">
  <div class="container">

    <div class="homeSeeker__inner">
      <div class="homeSeeker__content">

   
        <h2 data-i18n="homeSeekerSection.title"></h2>
        <p class="lead" data-i18n="homeSeekerSection.lead"></p>

     
        <h3 data-i18n="homeSeekerSection.howTitle"></h3>
        <ol class="homeSeeker__steps">
          <li data-i18n="homeSeekerSection.steps.0"></li>
          <li data-i18n="homeSeekerSection.steps.1"></li>
          <li data-i18n="homeSeekerSection.steps.2"></li>
          <li data-i18n="homeSeekerSection.steps.3"></li>
          <li data-i18n="homeSeekerSection.steps.4"></li>
        </ol>

       
        <p class="homeSeeker__note">
          <strong data-i18n="homeSeekerSection.importantLabel"></strong>
          <span data-i18n="homeSeekerSection.importantText"></span>
        </p>

        <div class="homeSeeker__cta">
          
              
            <h2 class="homeSeeker__phoneTitle" data-i18n="homeSeekerSection.cta.phoneLabel"></h2>
            <p class="homeSeeker__phoneNumber" data-i18n="homeSeekerSection.cta.phoneNumber"></p>
          </div>
        </div>

      
        <p class="homeSeeker__surrender" data-i18n="homeSeekerSection.surrender"></p>

        <div class="homeSeeker__cta--surrender">
          <a class="btn btn-primary"
             href="mailto:info@bringmehome.local?subject=Macska%20atadas"
             data-i18n="homeSeekerSection.cta.email"></a>
        </div>

      </div>
    </div>
  </div>
</section>