<section class="journey container">
  <h2 data-i18n="journey.title.main"></h2>

  <div class="my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p class="text-center text-body-secondary mb-4" data-i18n="journey.title.sub"></p>

        <ol id="timeline" class="timeline list-unstyled m-0"></ol>
      </div>
    </div>
  </div>

  <template id="timeline-item">
    <li class="timeline-item d-flex position-relative ps-4 py-3">
      <div class="flex-grow-1">
        <time class="d-block fw-semibold text-body-emphasis small timeline_list_date"></time>
        <p class="mb-0 text-body-secondary small timeline_list_content"></p>
      </div>
      <span class="badge align-self-start ms-3"></span>
    </li>
  </template>
</section>