#footer a {
  color: var(--color-bg-body);
}

iframe {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}

iframe:hover {
  width: 300px;
  border-radius: 0.8rem;
}
