.navbar .nav-link,
.navbar .nav-link.active {
  color: var(--color-primary);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
  font-weight: 600;
}

#langIcon {
  transition: all 0.3s ease-in-out;
}

#langIcon:hover {
  transform: scale(1.2);
}
