<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" data-i18n="bringMeHome"></a>

    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#toggler"
      aria-controls="toggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggler">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" data-i18n="nav-about" href="#about"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-i18n="nav-adopt" href="#adopt"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-i18n="nav-matchmaker" href="#matchmaker"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-i18n="nav-adopters" href="#adopters"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-i18n="nav-homeSeeker" href="#homeSeeker"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-i18n="nav-journey" href="#journey"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-i18n="nav-faq" href="#faq"></a>
        </li>

        <li class="nav-item d-lg-none mt-3">
          <div class="form-check form-switch d-flex align-items-center">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="languageSwitchMobile"
            />
            <label class="form-check-label ms-2" for="languageSwitchMobile">
              <img
                id="langIconMobile"
                src="/assets/img/flags/hu.png"
                alt="flag"
                style="width: 24px; height: 24px"
              />
            </label>
          </div>
        </li>
      </ul>
    </div>

    <div class="d-none d-lg-flex ms-auto align-items-center">
      <div class="form-check form-switch d-flex align-items-center">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="languageSwitch"
        />
        <label class="form-check-label ms-2" for="languageSwitch">
          <img
            id="langIcon"
            src="/assets/img/flags/hu.png"
            alt="flag"
            style="width: 24px; height: 24px"
          />
        </label>
      </div>
    </div>
  </div>
</nav>
